<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlasDUPKaLa-FPgkbYAMDpP-NYPXJSB78</string>
	<key>GCM_SENDER_ID</key>
	<string>996118329348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aerion</string>
	<key>PROJECT_ID</key>
	<string>aerion-super-apps</string>
	<key>STORAGE_BUCKET</key>
	<string>aerion-super-apps.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996118329348:ios:f770bcda73140927e79d51</string>
</dict>
</plist>